article {
    background-color: rgb(182, 182, 182);
    width: fit-content;
    padding: 1%;
    margin: 1%;
}
.mal {
    color: red;
}
.validado {
    color: blue;
}
li {
    list-style: none;
    color: green;
}