



img {
    filter: invert(1);
    margin: 1em 0;
}
nav img {
    height: 3rem;
}
nav {
    height: 5rem;
}
li {
    list-style: none;
    display: inline-block;
    margin: 0 1em;
}
a {
    text-decoration: none;
    color: white;
    margin-right: 1em;
}a:hover {
    color: rgb(150, 150, 150);
}
form {
    float: left;
    margin: 3rem;
}
table {
    margin-top: 3rem;
}

.card {
    max-width: 19rem;
    padding: 0;
    text-align: center;
    color: aliceblue;
    margin: 1em auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    transition: linear 0.5s;
}.card:hover {
    max-width: 20rem;
}
.card-img-top {
    width: 5em;
    align-self: center;
}
.row {
    width: 100%;
}
.container {
    display: flex;
    align-items: center;
}
footer {
    width: 100%;
    position: absolute;
  bottom: 0;
}